body{
    background-color: rgb(238, 238, 98);
    text-align: center;
    margin-top: 5%;
}
.card{
    background-color: white;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    border-radius: 10px;
    text-align: start;
    box-shadow: 10px 10px black;

}
.card1{
    width: auto;
    height: max-content;
    justify-content: center;
    margin-right: 2%;
}
svg{
    border-radius: 10px;
}
.learning{
    padding-top: 20px;
}
.learning a{
    color: black;
    background-color: rgb(238, 238, 98);
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    
}
.te{
    padding-top: initial;
    font-style: none;
    font-weight: normal;
}
p{
    color: gray;
}
.avatar{
    display: flex;

}
.avatar h3{
    padding-left: 10px;
    height: 10px;
}
@media screen and (max-width:375px) {
    body{
        text-align: center;
        position: relative;
       
    }
    .complet{
        text-align: center;
        /* margin-left: 10%; */
        /* margin-right: 10%; */
        overflow: hidden;
        justify-content: center;
        margin: 10px 10px;
        
        
    }
    .card{
        text-align: start;
        padding: 10px 10px;
    }
}